.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
Application/build
Application/build/generated
Application/build/intermediates
Wearable/build
Wearable/build/generated
Wearable/build/intermediates